@import "../../../vars.scss";

$size-navbar-icon: 65%;

.main-screen-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar-content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: $color-background;

    .sidebar {
        flex-basis: 220px;
        height: 100%;
        background: $color-background;
        opacity: 0.8;
        //z-index: -1;
        border-right: 1px solid $color-gray;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & * {
            color: $color-font-to-gray;
            font-weight: normal;
            font-size: 1.2rem;
        }

        .sidebar-option {
            display: flex;
            flex-direction: row;
            gap: 10px;
            background: $color-gray;
            cursor: pointer;
            //border: 1px solid gray;
            border-radius: 10px;
            height: 45px;
            padding: 0 10px;
            -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
            box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
            
            transition: 0.2s ease-in-out;
            
            &:hover {
                background-color: $color-primary;
                & * {
                    color: $color-soft-white;
                }
            }
            
            & * {
                transition: 0.2s ease-in-out;
                margin: auto;
                color: $color-soft-white;
            }
        }
        .sidebar-option.active {
            background: $color-primary;
            & * {
                color: $color-soft-white;
            }
        }
    }

    .main-content-wrapper {
        flex-grow: 1;
        height: calc(100% - 64px);
        position: relative;
    }
}

.navbar-container {
    height: 64px;
    width: 100%;
    background-color: $color-gray;
    display: flex;
    flex-direction: row;
    text-align:center;
    
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);

    & * {
        vertical-align: middle;
        color: $color-white-text;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.navbar-icon {
    height: $size-navbar-icon;
    cursor: pointer;
}

.navbar-left-options {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;

    img {
        cursor: pointer;
    }
}

.navbar-right-options {
    flex-basis: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    transition: 0.15s ease-in-out;
    background: $color-primary;
    opacity: 0.8;
    position: relative;
    z-index: 2;

    &:hover {
        opacity: 1;
        .navbar-right-menu {
            transform: scale(1);
            opacity: 1;
        }
    }
    .navbar-right-menu {
        top: 65px;
        right: 5px;
        height: auto;
        width: 200px;
        position: absolute;
    
        border-radius: 10px;
        background: rgb(240, 240, 240);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        transform: scale(0);
        opacity: 0;
        transition: 0.1s ease-in-out;
        z-index: 2;

        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;

        .navbar-right-item {
            height: 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            transition: 0.1s ease-in-out;
            cursor: pointer;

            &:hover {
                background: $color-hover-gray;
                border-radius: 10px;
            }

            * {
                color: $color-input-text;
            }
        }

        hr {
            width: 100%;
            background-color: $color-input-text;
        }
    }
}

