@import "../../../vars.scss";

$size-navbar-icon: 65%;

.navbar-container {
    height: 64px;
    width: 100%;
    background-color: $color-main;
    display: flex;
    flex-direction: row;
    text-align:center;
    
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.34);

    & * {
        vertical-align: middle;
        color: $color-white-text;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.navbar-icon {
    height: $size-navbar-icon;
}

.navbar-left-options {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;

    img {
        cursor: pointer;
    }
}

.navbar-right-options {
    flex-basis: 150px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;

    img {
        cursor: pointer;
    }
}