<div class="content-frame-with-actions">
    <h2>CREATE FORM</h2>
    
    <div class="input-container">
        <label>Form name</label>
        <input [(ngModel)]="formName" placeholder="Name of your form..." type="text" class="soft-input">
    </div>

    <div class="input-container" style="margin-top: 20px;">
        <label>Form description</label>
        <textarea [(ngModel)]="formDescription" placeholder="Description of your form..." type="text" class="soft-input"></textarea>
    </div>

    <h3>Questions</h3>

    <div class="questions-container" style="margin-top: 20px;">
        <app-question (removeQuestion)="removeQuestion($event)" *ngFor="let questionElement of questions; let i = index" [question]="questionElement" [questionIndex]="i"></app-question>
    </div>
    
    <button (click)="addQuestion()" class="add-question-button" style="margin-top: 20px;">+ Add question</button>
</div>

<div class="action-section">
    <button (click)="saveQuestions()" class="save-button" [disabled]="disableSaveBtn" >
        <img class="navbar-icon" src="/assets/images/icons/upload-form-icon.svg" >
        <h4>Save form</h4>
    </button>
    <button (click)="cleanAllQuestions()" class="secondary-button" [disabled]="disableClearBtn" >
        <img class="navbar-icon" src="/assets/images/icons/white-clean-icon.svg" >
        <h4>Clean form</h4>
    </button>
    <app-loading-spinner *ngIf="savingForm" [text]="'Saving form...'"></app-loading-spinner>
</div>