<div class="full-screen-container">

    <div class="central-vertical-field">

        <div class="central-card" style="margin-top: 70px;">
            <div class="central-card-content">
                <div class="central-title-container">
                    <div class="little-fill bg-blue"></div>
                    <div class="central-title f-blue">REGISTER</div>
                </div>
        
                <div (click)="goToPage('login')" class="floating-circle-button-container bg-blue">
                    <img style="margin-left: 30px;" src="/assets/images/icons/user.svg" >
                </div>
    
                <div class="central-form-container">
                    <div class="input-container">
                        <label>Email</label>
                        <input class="soft-input" type="text" >
                    </div>
                    <div class="input-container">
                        <label>Username</label>
                        <input class="soft-input" type="text" >
                    </div>
                    <div class="input-container">
                        <label>Password</label>
                        <input class="soft-input" type="password" >
                    </div>
                    <div class="input-container">
                        <label>Confirm password</label>
                        <input class="soft-input" type="password" >
                    </div>
    
                    <button class="button-send bg-blue f-white">Register</button>
                </div>
    
            </div>
        </div>

    </div>

</div>