@import "../../../vars.scss";

.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    input.question-title {
        font-size: 1.2rem;
        color: $color-titles;
        border: none;
        background: $color-background;
        width: auto;
        padding: 5px;
        border-radius: 8px;

        &:focus, &:hover {
            background: $color-background-gray;
        }
    }

    input.question-choice {
        font-size: 1.2rem;
        color: $color-titles;
        border: none;
        background: $color-background-gray;
        width: auto;
        padding: 5px;
        border-radius: 8px;

        &:focus, &:hover {
            background: $color-background;
        }
    }

    label {
        font-size: 1.2rem;
        color: $color-titles;
    }

    .question-label-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

        & > * {
            margin-top: auto;
            margin-bottom: auto;
        }

        button.question-edit-button {
            height: 30px;
            width: 30px;
            background-color: $color-main;
            border: none;
            border-radius: 10px;
            position: relative;

            .question-edit-popover {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) translateX(100%);
                width: 250px;
                height: auto;
                padding: 10px;
                border-radius: 10px;
                background: $color-background;
                -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
                -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
                box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
                z-index: 2;
                visibility: hidden;
                opacity: 0;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:flex-start;
                gap: 10px;

                h3 {
                    margin: 0;
                    color: $color-main;
                }

                label {
                    font-size: 1rem;
                    font-weight: normal;
                }
            }

            &:hover {
                .question-edit-popover {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s, opacity 0.1s linear;
                }
            }

            img {
                width: 90%;
                margin: auto;
                cursor: pointer;
            }
        }
    }

    .question-radios-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        background: $color-background-gray;

        .question-radio {
            display: flex;
            flex-direction: row;
            gap: 5px;

            & * {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}

button.add-choice-button {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 6px;
    background: $color-main;
    color: white;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 0.8;
    }
}
