@import '../../../../../vars.scss';

.forms-preview {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .form-preview {
        height: auto;
        width: 100%;
        background: $color-gray;
        border-radius: 6px;

        display: flex;
        flex-direction: column;
        gap: 8px;

        .form-preview-quick-info {
            display: flex;
            flex-direction: row;
            padding: 0 15px;

            .left-side {
                display: flex;
                flex-direction: row;
                gap: 8px;
                width: 50%;
            }
            .right-side {
                display: flex;
                flex-direction: row-reverse;
                gap: 8px;
                width: 50%;
                align-items: center;
            }
        }

        .form-preview-description {
            padding-left: 15px;
        }
    }

    hr {
        width: auto;
        margin: 0 15px;
        color: $color-soft-white;
        opacity: 0.5;
    }
}