<div class="full-screen-container">
    <div class="login-card">
        <div class="login-card-content">
            <div class="login-title-container">
                <div class="little-fill bg-blue"></div>
                <div class="login-title f-blue">LOGIN</div>
            </div>
    
            <div class="register-button-container bg-blue">
                <img src="/assets/images/icons/register.svg" >
            </div>

            <div class="login-form-container">
                <div class="input-container">
                    <label>Username</label>
                    <input class="soft-input" type="text" >
                </div>
                <div class="input-container">
                    <label>Password</label>
                    <input class="soft-input" type="password" >
                </div>

                <button class="button-send bg-blue f-white">Log In</button>

                <a href="" class="link-label">Forgot your password?</a>
            </div>

        </div>
    </div>

    
</div>