/* You can add global styles to this file, and also import other style files */
@import "./vars.scss";

/* SIZE VARIABLES */
$central-card-width: 500px;

body {
    background: $color-background-gray;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

* {
    outline: none;
}

div.full-screen-container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* COLORS */
.bg-blue {
    background: $color-main;
}
.f-blue {
    color: $color-main;
}
.f-white {
    color: $color-white;
}

/* INPUTS */
input.soft-input {
    height: 35px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    color: $color-input-text;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.12s all ease;

    &:focus {
        height: 45px;
        margin-top: 5px;
        border-color: $color-main;
        -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.69);
        -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.69);
        box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.69);
    }
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        font-size: 1.3rem;
        color: $color-label-text;
    }

    .error-messages {
        color: red;
    }
}

/* BUTTONS */
.button-send {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.5rem;
    transition: 0.1s all ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
        -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
        box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
    }

    &:disabled {
        opacity: 0.6;

        &:hover {
            transform: scale(1) !important;
        }
    }
}

.link-label {
    color: $color-main;
}


.central-card {
    background: #ffffff;
    width: $central-card-width;
    height: auto;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-50%);

    border: none;
    border-radius: 10px;

    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
}

.central-card-content {
    width: 100%;
    height: auto;
    padding-top: 30px;
    position: relative;
}

@media (max-width: $central-card-width) {
    .central-card {
        width: 100%;
        min-width: 350px;
    }
}

.central-title-container {
    width: 100%;
    height: 70px;
    // margin-top: 30px;

    display: flex;
    flex-direction: row;
}

.little-fill {
    height: 100%;
    width: 10px;
}

.central-title {
    margin-left: 40px;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-circle-button-container {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 15px;
    right: -60px;
    border: none;
    border-radius: 60px;
    transition: 0.1s all ease;
    cursor: pointer;
    text-align: center;
    z-index: 2;

    &:hover {
        transform: scale(1.1);
        -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
        -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
        box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.69);
    }

    img {
        height: 70px;
        width: auto;
        margin-top: 25px;
        display: block;
    }
}

.central-form-container {
    width: 80%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 30px;
    }
}

.central-vertical-field {
    height: 100%;
    width: $central-card-width;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.soft-title {
    text-align: center;
    color: $color-titles;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

.spinner-border {
    color: $color-main;
}

.loading-container {
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    * {
        margin-top: auto;
        margin-bottom: auto;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: bolder;
        color: rgb(120, 120, 120);
    }
}

.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
}
  
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $color-main;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
  
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
  
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.questions-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add-question-button {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 6px;
    background: $color-main;
    color: white;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 0.8;
    }
}