// GENERAL COLORS
$color-blue: #2980B9;
$color-green: #F8F9F9;
$color-weak-green: #D4EFDF;
$color-white: #ffffff;
$color-titles: #666666;
$color-brown: #AF601A;
$color-red: #EC7063;

// MAIN COLOR OF APPLICATION
$color-main: $color-blue;

// BACKGROUND COLORS
$color-background: #fafafa;
$color-background-gray: #e9e9e9;

$color-input-text: rgb(92, 92, 92);
$color-label-text: rgb(145, 145, 145);
$color-white-text: rgb(245, 245, 245);

// HOVER COLORS
$color-hover-gray: #D6DBDF;

// FONT COLORS
$color-font-to-gray: rgb(49, 49, 49);