$color-blue: #2980B9;
$color-green: #229954;
$color-weak-green: #D4EFDF;
$color-white: #ffffff;
$color-titles: #666666;
$color-brown: #AF601A;
$color-red: #CB4335;

// MAIN COLOR OF APPLICATION
$color-main: $color-blue;

$color-input-text: rgb(92, 92, 92);
$color-label-text: rgb(145, 145, 145);
$color-white-text: rgb(230, 230, 230);