// GENERAL COLORS
$color-blue: #2980B9;
$color-green: #27AE60;
$color-weak-green: #D4EFDF;
$color-white: #ffffff;
$color-soft-white: #ffffffec;
$color-gray: rgb(43, 43, 50);
$color-orange: #DC7633;
$color-red: #EC7063;
$color-black: #1E1E23;

// BACKGROUND COLORS
$color-background-gray: #e9e9e9;
$color-background-black: $color-black;

$color-input-text: rgb(92, 92, 92);
$color-label-text: rgb(145, 145, 145);
$color-white-text: rgb(245, 245, 245);

// HOVER COLORS
$color-hover-gray: #D6DBDF;

// FONT COLORS
$color-font-to-gray: rgb(49, 49, 49);

// ========== MAIN COLOR OF APPLICATION ========== //
$color-primary: $color-orange;
$color-secondary: $color-green;
$color-background: $color-background-black;
// $color-background: #fafafa;
